# Proyecto 1 - Security Data Science

In [1]:
#Librerias que se van a utilizar. 
import pandas as pd
import numpy as np
import  re
import neattext as nt
import unicodedata
import nltk
from sklearn import metrics, model_selection, tree
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

## Analisis Exploratorio


---

In [2]:
#Carga de datos
df1 = pd.read_csv('datasets/dataset-part1.csv')
df2 = pd.read_csv('datasets/dataset-part2.csv')
df3 = pd.read_csv('datasets/dataset-part3.csv')
df4 = pd.read_csv('datasets/dataset-part4.csv')

In [3]:
#Analisis Exploratorio
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 1.3+ GB

In [10]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3570666 entries, 0 to 3570665
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 1.3+ GB

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,40,0,1616660040,120,339,0,1616660040010,1616660040,...,1460,0,0,0,0,0,Unknown,1,2293398,Normal flow
1,1,0,",",0,1616660040,120,0,0,1616660040068,1616660040,...,0,0,0,0,40,0,ICMP,1,2293400,Normal flow
2,1,0,104,0,1616660040,120,44725,44,1616660040114,1616660040,...,0,0,0,0,0,0,TLS,1,2293404,Normal flow
3,1,0,",",0,1616660040,120,0,0,1616660040122,1616660040,...,1440,0,8,0,40,0,Unknown,1,2293407,Normal flow
4,1,0,40,0,1616660040,120,1114,1,1616660040184,1616660040,...,0,0,0,0,0,0,TLS,1,2293409,Normal flow

In [6]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8637207 entries, 0 to 8637206
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 3.2+ GB

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,",,48,,,,,,,,,,40,,,,,,,,,,40,,,,,,,,,,40,,,,,,...",0,1618174987,120,104116914,104116,1618175092090,1618175092,...,1460,1460,0,0,0,164,TLS,1,77251491,Normal flow
1,1,0,",,,,,,,,,,,",0,1618175067,120,9529030,9529,1618175077010,1618175077,...,0,0,0,0,0,0,STUN.Messenger,1,77251492,Normal flow
2,1,0,",,,,,,,,,,,",0,1618175067,120,9529169,9529,1618175077010,1618175077,...,0,0,0,0,192,0,ICMP,1,77251493,Normal flow
3,1,0,",",0,1618175077,120,0,0,1618175077021,1618175077,...,0,0,0,0,72,0,ICMP,1,77251494,Normal flow
4,1,0,",",0,1618175077,120,0,0,1618175077069,1618175077,...,0,0,0,0,0,0,Unknown,1,77251495,Normal flow

In [8]:
df3.info()
df3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330692 entries, 0 to 1330691
Data columns (total 50 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   BIFLOW_DIRECTION            1330692 non-null  int64
 1   DIRECTION                   1330692 non-null  int64
 2   DST_TO_SRC_SECOND_BYTES     1330692 non-null  object
 3   FIREWALL_EVENT              1330692 non-null  int64
 4   FIRST_SWITCHED              1330692 non-null  int64
 5   FLOW_ACTIVE_TIMEOUT         1330692 non-null  int64
 6   FLOW_DURATION_MICROSECONDS  1330692 non-null  int64
 7   FLOW_DURATION_MILLISECONDS  1330692 non-null  int64
 8   FLOW_END_MILLISECONDS       1330692 non-null  int64
 9   FLOW_END_SEC                1330692 non-null  int64
 10  FLOW_ID                     1330692 non-null  int64
 11  FLOW_INACTIVE_TIMEOUT       1330692 non-null  int64
 12  FLOW_START_MILLISECONDS     1330692 non-null  int64
 13  FLOW_START_SEC              1330692 non-null  int64
 14  FRAME_LENGTH                1330692 non-null  int64
 15  IN_BYTES                    1330692 non-null  int64
 16  IN_PKTS                     1330692 non-null  int64
 17  IPV4_DST_ADDR               1330692 non-null  object
 18  IPV4_SRC_ADDR               1330692 non-null  object
 19  L4_DST_PORT                 1330692 non-null  int64
 20  L4_SRC_PORT                 1330692 non-null  int64
 21  LAST_SWITCHED               1330692 non-null  int64
 22  MAX_IP_PKT_LEN              1330692 non-null  int64
 23  MIN_IP_PKT_LEN              1330692 non-null  int64
 24  OOORDER_IN_PKTS             1330692 non-null  int64
 25  OOORDER_OUT_PKTS            1330692 non-null  int64
 26  OUT_BYTES                   1330692 non-null  int64
 27  OUT_PKTS                    1330692 non-null  int64
 28  PROTOCOL                    1330692 non-null  int64
 29  PROTOCOL_MAP                1330692 non-null  object
 30  RETRANSMITTED_IN_BYTES      1330692 non-null  int64
 31  RETRANSMITTED_IN_PKTS       1330692 non-null  int64
 32  RETRANSMITTED_OUT_BYTES     1330692 non-null  int64
 33  RETRANSMITTED_OUT_PKTS      1330692 non-null  int64
 34  SRC_TO_DST_SECOND_BYTES     1330692 non-null  object
 35  TCP_FLAGS                   1330692 non-null  int64
 36  TCP_WIN_MAX_IN              1330692 non-null  int64
 37  TCP_WIN_MAX_OUT             1330692 non-null  int64
 38  TCP_WIN_MIN_IN              1330692 non-null  int64
 39  TCP_WIN_MIN_OUT             1330692 non-null  int64
 40  TCP_WIN_MSS_IN              1330692 non-null  int64
 41  TCP_WIN_MSS_OUT             1330692 non-null  int64
 42  TCP_WIN_SCALE_IN            1330692 non-null  int64
 43  TCP_WIN_SCALE_OUT           1330692 non-null  int64
 44  SRC_TOS                     1330692 non-null  int64
 45  DST_TOS                     1330692 non-null  int64
 46  L7_PROTO_NAME               1330692 non-null  object
 47  SAMPLING_INTERVAL           1330692 non-null  int64
 48  TOTAL_FLOWS_EXP             1330692 non-null  int64
 49  LABEL                       1330692 non-null  object
dtypes: int64(43), object(7)
memory usage: 507.6+ MB

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,138,0,1622174400,120,682,0,1622174400001,1622174400,...,0,0,0,0,0,0,DNS,1,1365973,Normal flow
1,1,0,75,0,1622174400,120,579,0,1622174400001,1622174400,...,0,0,0,0,0,0,DNS,1,1365974,Normal flow
2,1,0,40,0,1622174400,120,213,0,1622174400053,1622174400,...,0,0,0,0,40,40,Unknown,1,1365976,Normal flow
3,1,0,166,0,1622174400,120,257,0,1622174400109,1622174400,...,0,0,0,0,0,0,DNS,1,1365978,Normal flow
4,1,0,",",0,1622174400,120,0,0,1622174400114,1622174400,...,0,0,0,0,196,0,ICMP,1,1365979,Normal flow

In [9]:
df4.info()
df4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26725246 entries, 0 to 26725245
Data columns (total 50 columns):
 #   Column                      Dtype
---  ------                      -----
 0   BIFLOW_DIRECTION            int64
 1   DIRECTION                   int64
 2   DST_TO_SRC_SECOND_BYTES     object
 3   FIREWALL_EVENT              int64
 4   FIRST_SWITCHED              int64
 5   FLOW_ACTIVE_TIMEOUT         int64
 6   FLOW_DURATION_MICROSECONDS  int64
 7   FLOW_DURATION_MILLISECONDS  int64
 8   FLOW_END_MILLISECONDS       int64
 9   FLOW_END_SEC                int64
 10  FLOW_ID                     int64
 11  FLOW_INACTIVE_TIMEOUT       int64
 12  FLOW_START_MILLISECONDS     int64
 13  FLOW_START_SEC              int64
 14  FRAME_LENGTH                int64
 15  IN_BYTES                    int64
 16  IN_PKTS                     int64
 17  IPV4_DST_ADDR               object
 18  IPV4_SRC_ADDR               object
 19  L4_DST_PORT                 int64
 20  L4_SRC_PORT                 int64
 21  LAST_SWITCHED               int64
 22  MAX_IP_PKT_LEN              int64
 23  MIN_IP_PKT_LEN              int64
 24  OOORDER_IN_PKTS             int64
 25  OOORDER_OUT_PKTS            int64
 26  OUT_BYTES                   int64
 27  OUT_PKTS                    int64
 28  PROTOCOL                    int64
 29  PROTOCOL_MAP                object
 30  RETRANSMITTED_IN_BYTES      int64
 31  RETRANSMITTED_IN_PKTS       int64
 32  RETRANSMITTED_OUT_BYTES     int64
 33  RETRANSMITTED_OUT_PKTS      int64
 34  SRC_TO_DST_SECOND_BYTES     object
 35  TCP_FLAGS                   int64
 36  TCP_WIN_MAX_IN              int64
 37  TCP_WIN_MAX_OUT             int64
 38  TCP_WIN_MIN_IN              int64
 39  TCP_WIN_MIN_OUT             int64
 40  TCP_WIN_MSS_IN              int64
 41  TCP_WIN_MSS_OUT             int64
 42  TCP_WIN_SCALE_IN            int64
 43  TCP_WIN_SCALE_OUT           int64
 44  SRC_TOS                     int64
 45  DST_TOS                     int64
 46  L7_PROTO_NAME               object
 47  SAMPLING_INTERVAL           int64
 48  TOTAL_FLOWS_EXP             int64
 49  LABEL                       object
dtypes: int64(43), object(7)
memory usage: 10.0+ GB

,BIFLOW_DIRECTION,DIRECTION,DST_TO_SRC_SECOND_BYTES,FIREWALL_EVENT,FIRST_SWITCHED,FLOW_ACTIVE_TIMEOUT,FLOW_DURATION_MICROSECONDS,FLOW_DURATION_MILLISECONDS,FLOW_END_MILLISECONDS,FLOW_END_SEC,...,TCP_WIN_MSS_IN,TCP_WIN_MSS_OUT,TCP_WIN_SCALE_IN,TCP_WIN_SCALE_OUT,SRC_TOS,DST_TOS,L7_PROTO_NAME,SAMPLING_INTERVAL,TOTAL_FLOWS_EXP,LABEL
0,1,0,138,0,1622433600,120,857,0,1622433600002,1622433600,...,0,0,0,0,0,0,DNS,1,7062121,Normal flow
1,1,0,75,0,1622433600,120,924,0,1622433600002,1622433600,...,0,0,0,0,0,0,DNS,1,7062122,Normal flow
2,1,0,",",0,1622433600,120,0,0,1622433600007,1622433600,...,0,0,0,0,40,0,Unknown,1,7062123,Normal flow
3,1,0,166,0,1622433600,120,513,0,1622433600090,1622433600,...,0,0,0,0,0,0,DNS,1,7062127,Normal flow
4,1,0,52,0,1622433600,120,26595,26,1622433600097,1622433600,...,0,0,0,0,0,0,TLS.Google,1,7062128,Normal flow

## Pre – procesamiento

---

In [12]:
# Juntar Dataframes

df = pd.concat([df1, df2, df3, df4])

In [13]:
# Validar el tamaño del df
df.shape

(40263811, 50)

In [16]:
# Sample df

df_sample_1 = df.sample(frac=0.05) # esto es solo para pruebas

In [18]:
# ! TODO: Crear un sample mas grande 30% maybe

# del df1, df2, df3, df4

df_sample_1.shape

(2013191, 50)

## Selección de características

---

In [ ]:
#Selección de características

## Separación de datos

---

In [ ]:
#Separación de datos

## Implementación

---

In [ ]:
#Implementación

## Métricas de evaluación

---

In [ ]:
#Métricas de evaluación

## Gráfica de la curva ROC

---

In [ ]:
#Gráfica de la curva ROC

## Evaluación cruzada

---

In [ ]:
#Evaluación cruzada

## Conclusiones

---